h1{
    text-align: center;
    margin-bottom: 40px;
    padding: 10px;
    border: 5px solid #da2360;
}

.avatarImage{
    width: 100%;
    height: auto;
}

.appProperty{
    margin-top: 20px;
    margin-bottom: 10px;
}

:host ::ng-deep app-property .mat-raised-button{
    width: 100%;
}

:host ::ng-deep app-property mat-form-field{
    width: 70%;
}

:host ::ng-deep app-property .formError{
    color: rgb(209, 9, 9);
}