<h1> Profile: {{user.username}} </h1>

<div fxLayout="row" fxLayoutWrap fxFill fxLayoutAlign="start start" fxLayoutGap="10px">
  <div fxFlex="30%" >

    <img class="avatarImage" src="{{user.avatar}}">
    <div class="appProperty">
      <app-property [propertyKey]="'avatar'" [(propertyValue)]="user.avatar" (propertyValueChange)="saveProperty()"></app-property>
    </div>

  </div>


  <div fxFlex="40%">
    <app-property [propertyKey]="'password'" [(propertyValue)]="user.password" (propertyValueChange)="saveProperty()"></app-property>
    <div class="appProperty">
      <app-property [propertyKey]="'email'" [(propertyValue)]="user.email" (propertyValueChange)="saveProperty()"></app-property>
    </div>
  </div>

  <div fxFlex>

  </div>

</div>