<h1> {{book.title}} </h1>

<div fxLayout="row" fxLayoutWrap fxFill fxLayoutAlign="start start" fxLayoutGap="10px">

  <div fxFlex="30%">
    <div class="info-card-container">
      <img class="bookDetailsImage" src="{{book.image}}">

      <!-- Genre -->
      <div *ngIf="editPropertyActive('genre'); then genreEdit; else genreShow"></div>
      <ng-template #genreShow>
        <h3> Genre
          <button *ngIf="userService.isAuthenticated()" (click)="editProperty('genre')">Edit</button>
        </h3>
        <span *ngFor="let genre of book.genre">
          <p>
            <a [routerLink]="['/home/libraryBooks']" [queryParams]="{ 'genre': genre }">{{genre}}</a>
          </p>
        </span>
      </ng-template>
      <ng-template #genreEdit>
        <h3> Genre
          <button (click)="saveProperty()">Save</button>
          <button (click)="cancelProperty()">Cancel</button>
        </h3>
        <textarea matInput type="string" name="genre" [(ngModel)]="genreUpdate" placeholder="Genre">
        </textarea>
      </ng-template>

      <!-- Tags -->
      <div *ngIf="editPropertyActive('tags'); then tagsEdit; else tagsShow"></div>
      <ng-template #tagsShow>
        <h3> Tags
          <button *ngIf="userService.isAuthenticated()" (click)="editProperty('tags')">Edit</button>
        </h3>
        <span *ngFor="let tag of book.tags">
          <p>
            <a [routerLink]="['/home/libraryBooks']" [queryParams]="{ 'tags': tag }">{{tag}}</a>
          </p>
        </span>
      </ng-template>
      <ng-template #tagsEdit>
        <h3> Tags
          <button (click)="saveProperty()">Save</button>
          <button (click)="cancelProperty()">Cancel</button>
        </h3>
        <textarea matInput type="string" name="genre" [(ngModel)]="tagsUpdate" placeholder="Tags">
        </textarea>
      </ng-template>


    </div>
  </div>


  <div fxFlex="50%">

    <!-- Description -->
    <div *ngIf="editPropertyActive('description'); then descriptionEdit; else descriptionShow"></div>
    <ng-template #descriptionShow>
      <h3> Description
        <button *ngIf="userService.isAuthenticated()" (click)="editProperty('description')">Edit</button>
      </h3>
      <span style="white-space:pre-wrap;"> {{book.description}} </span>
    </ng-template>
    <ng-template #descriptionEdit>
      <h3> Description
        <button (click)="saveProperty()">Save</button>
        <button (click)="cancelProperty()">Cancel</button>
      </h3>
      <textarea matInput type="string" name="description" [(ngModel)]="book.description" placeholder="Description">
  </textarea>
    </ng-template>


    <!-- Reviews -->
    <mat-expansion-panel *ngIf="userService.isAuthenticated()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Leave a review
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>

      </mat-expansion-panel-header>

      <textarea matInput type="string" name="reviewText" [(ngModel)]="reviewText" placeholder="reviewText">
          </textarea>
      <button mat-raised-button color="primary" (click)="postReview()">
        Post review
      </button>


    </mat-expansion-panel>

    <!-- Reviews table -->
    <h3> Reviews by users </h3>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="review">
          <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let review">

          <mat-card>
            <mat-card-title>
              <img class="avatarImage" src="{{review.user.avatar}}"> {{review.user.username}}
            </mat-card-title>

            <div *ngIf="reviewEdit !== undefined && reviewEdit === review; then reviewEditIf; else reviewShow"></div>
            <ng-template #reviewShow>
              <mat-card-content>
                {{review.text}}
              </mat-card-content>
              <mat-card-actions *ngIf="reviewOwner(review)">


                <button mat-raised-button color="accent" (click)="editReview(review)">Edit
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-raised-button color="warn" (click)="deleteReview(review)">Delete
                  <mat-icon>delete</mat-icon>
                </button>

              </mat-card-actions>
            </ng-template>
            <ng-template #reviewEditIf>
              <mat-card-content>
                <textarea matInput type="string" name="review" [(ngModel)]="reviewEdit.text" placeholder="review">
                            </textarea>
              </mat-card-content>
              <mat-card-actions *ngIf="reviewOwner(review)">


                <button mat-raised-button color="accent" (click)="saveReview(review)">Save
                  <mat-icon>save</mat-icon>
                </button>
                <button mat-raised-button color="warn" (click)="cancelReview(review)">Cancel
                  <mat-icon>cancel</mat-icon>
                </button>

              </mat-card-actions>
            </ng-template>
          </mat-card>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let review; columns: displayedColumns;"></mat-row>

    </mat-table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </div>

</div>