button:hover, .material-icons:hover{
  background-color: rgba(235, 233, 233, 0.918);
  color: rgb(1, 22, 90) !important;
}

.bookDetailsImage{
  width: 100%;
  height: auto;
}

h1{
  text-align: center;
  font-variant: small-caps;
  color: rgb(11, 61, 107);
}

:host ::ng-deep app-property .mat-raised-button{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

:host ::ng-deep app-property mat-form-field{
  text-align: center;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 10px;
}


:host ::ng-deep app-bookReviews mat-row{
  border: 2px solid #108696;
}

:host ::ng-deep app-bookReviews .mat-column-avatar{
  flex: 0 0 15%;
  text-align: center;
}

:host ::ng-deep app-bookReviews .avatarImage{
  width: 100%;
  height: auto;
}


:host ::ng-deep app-bookReviews mat-card-title{
  font-size: larger;
  text-align: right;
}

:host ::ng-deep app-bookReviews mat-card-content{
  margin-top: 40px;
  text-align: left;
}

:host ::ng-deep app-bookReviews mat-card-actions{
  text-align: right;
}



:host ::ng-deep app-bookReviews mat-expansion-panel{
  margin: 30px;
}




:host ::ng-deep app-bookReviews .reviewDate{
  text-align: right;
}

:host ::ng-deep textarea{
  height: 10em;
}

:host ::ng-deep h2{
  font-variant: small-caps;
  color: rgb(5, 5, 5);
}


