button:hover, .material-icons:hover{
  background-color: rgba(235, 233, 233, 0.918);
  color: rgb(1, 22, 90) !important;
}

.bookDetailsImage{
  width: 300px;
  height: auto;
}

:host ::ng-deep app-bookReviews mat-expansion-panel{
  margin: 30px;
}

:host ::ng-deep app-bookReviews .avatarImage{
  width: 80px;
  height: auto;
}

:host ::ng-deep app-bookReviews mat-card-content{
  margin-top: 40px;
}

:host ::ng-deep app-bookReviews mat-card-actions{
  text-align: right;
}

:host ::ng-deep app-bookReviews .mat-card{
  margin-top: 10px;
}

:host ::ng-deep textarea{
  height: 10em;
}

:host ::ng-deep h2{
  font-variant: small-caps;
  color: rgb(5, 5, 5);
}

