.material-icons{
    color: rgb(222, 236, 243);
}

button:hover, .material-icons:hover{
    background-color: rgba(235, 233, 233, 0.918);
    color: rgb(1, 22, 90) !important;
}

h1{
    text-align: center;
    color: rgb(1, 22, 90);
    font-variant: small-caps;
    margin-top: 10%;
}

.buttons_dialog{
    text-align: center;
}

img{
    display: block;
    margin: auto;
    height: 80%;
    width: 80%;
}
