<img src="../../assets/hotelporhoras.jpg" class="imgDialog">
<h1 mat-dialog-title aling="center">Inicia sesión</h1>
<form [formGroup]="loginForm">
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput type="text" placeholder="Usuario" [(ngModel)]="usuario" [formControl]="userFormControl" required>
      <mat-error *ngIf="userFormControl.invalid">Por favor ingresa tu usuario</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password" [formControl]="passwordFormControl" required>
      <mat-error *ngIf="passwordFormControl.invalid">Por favor ingresa tu contraseña</mat-error>
    </mat-form-field>

  </div>
  <div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button (click)="login()" color="primary" [mat-dialog-close]="this" [disabled]="loginForm.invalid">Iniciar sesión</button>
    </div>
  </div>
</form>
