.bookImage{
  width: 100%;
  height: auto;
  text-align: center;
}

h2{
  text-align: center;
  font-variant: small-caps;
  color: rgb(11, 61, 107);
}

.tableActions{
  text-align: right;
}

.mat-column-image {
  flex: 0 0 20%;
}

.mat-column-title {
  flex: 0 0 50%;
}