.info-card-container {
    display: flex;
    flex-flow: wrap;
    padding-left: 20px;
  }
  .info-card-container .mat-card {
    margin: 0 10px 10px 0;
    width: 310px;
  }
  .span-aling-spacer {
    flex: 1 1 auto;
  }
  button:hover, .material-icons:hover{
    background-color: rgba(235, 233, 233, 0.918);
    color: rgb(1, 22, 90) !important;
  }


  .bookImage{
    height: 150px;
  }