<div *ngIf="loginUserReview() !== undefined; then edit; else post"></div>
<ng-template #post>
  <mat-expansion-panel *ngIf="userService.isAuthenticated()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Leave a review
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>

    </mat-expansion-panel-header>

    <textarea matInput type="string" name="reviewText" [(ngModel)]="reviewText" placeholder="reviewText">
            </textarea>
    <button mat-raised-button color="primary" (click)="postReview()">
      Post review
    </button>
  </mat-expansion-panel>
</ng-template>
<ng-template #edit>
</ng-template>





<h2> Reviews by users </h2>

<mat-table #table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="avatar">
    <mat-cell *matCellDef="let review">
      <img class="avatarImage" src="{{review.user.avatar}}"> {{review.user.username}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="review">
    <mat-cell *matCellDef="let review">

      <mat-card>
        <mat-card-title>{{formatDate(review.date)}}</mat-card-title>


        <div *ngIf="reviewEdit !== undefined && reviewEdit === review; then reviewEditIf; else reviewShow"></div>
        <ng-template #reviewShow>
          <mat-card-content>
            {{review.text}}
          </mat-card-content>
          <mat-card-actions *ngIf="reviewOwner(review)">


            <button mat-raised-button color="accent" (click)="editReview(review)">Edit
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button color="warn" (click)="deleteReview(review)">Delete
              <mat-icon>delete</mat-icon>
            </button>

          </mat-card-actions>
        </ng-template>
        <ng-template #reviewEditIf>
          <mat-card-content>
            <textarea matInput type="string" name="review" [(ngModel)]="reviewEdit.text" placeholder="review">
                          </textarea>
          </mat-card-content>
          <mat-card-actions *ngIf="reviewOwner(review)">


            <button mat-raised-button color="accent" (click)="saveReview(review)">Save
              <mat-icon>save</mat-icon>
            </button>
            <button mat-raised-button color="warn" (click)="cancelReview(review)">Cancel
              <mat-icon>cancel</mat-icon>
            </button>

          </mat-card-actions>
        </ng-template>
      </mat-card>


    </mat-cell>
  </ng-container>

  <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
  <mat-row *matRowDef="let review; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>