<div *ngIf="editPropertyActive(); then edit; else show"></div>
<ng-template #show>
  <button mat-raised-button color="primary" (click)="editProperty()">
    Change {{propertyKey}}
  </button>
</ng-template>
<ng-template #edit>
  <mat-form-field>
    <input matInput placeholder="{{propertyKey}}" [(ngModel)]="propertyValue">
  </mat-form-field>
  <mat-form-field *ngIf = "propertyKey === 'password'">
    <input matInput placeholder="repeatPassword" [(ngModel)]="repeatPassword">
    <mat-hint class="formError" *ngIf="nonEqualPasswords()">The passwords dont match</mat-hint>
  </mat-form-field>
  <button (click)="saveProperty($event)" [disabled]="validData() === false">Save</button>
  <button (click)="cancelProperty()">Cancel</button>
</ng-template>
